spring:
  application:
    name: mvp
  profiles:
    active: develop
  test:
    context:
      cache:
        maxSize: 1
mybatis:
  # Mapper XML 파일 위치
  mapper-locations: classpath:mapper/**/*.xml
  type-handlers-package: site.icebang.global.config.mybatis.typehandler

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true
  server:
    address: 0.0.0.0
    port: 8081
  security:
    enabled: false
# 외부 API 연동을 위한 설정 섹션
api:
  fastapi:
    url: http://${FASTAPI_SERVER_HOST:127.0.0.1:8000}
    timeout: 10000  # API 요청 타임아웃 (밀리초 단위)