<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gltkorea.icebang.mapper.AuthMapper">

    <!-- 1. users INSERT & PK 반환 -->
    <insert id="insertUser" parameterType="com.gltkorea.icebang.domain.auth.dto.RegisterDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name, email, password)
        VALUES (#{name}, #{email}, #{password});
    </insert>

    <!-- 2. user_organizations INSERT -->
    <insert id="insertUserOrganization" parameterType="com.gltkorea.icebang.domain.auth.dto.RegisterDto" useGeneratedKeys="true" keyProperty="userOrgId">
        INSERT INTO user_organizations (user_id, organization_id, department_id, position_id, status)
        VALUES (#{id}, #{orgId}, #{deptId}, #{positionId}, #{status});
    </insert>

    <!-- 3. user_roles INSERT (foreach) -->
    <insert id="insertUserRoles" parameterType="com.gltkorea.icebang.domain.auth.dto.RegisterDto">
        INSERT INTO user_roles (user_organization_id, role_id)
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userOrgId}, #{roleId})
        </foreach>
    </insert>


</mapper>
