<mapper namespace="site.icebang.domain.workflow.mapper.JobMapper">
    <resultMap id="JobResultMap" type="site.icebang.domain.workflow.model.Job">
    </resultMap>
    <resultMap id="TaskResultMap" type="site.icebang.domain.workflow.model.Task">
    </resultMap>

    <select id="findJobsByWorkflowId" resultMap="JobResultMap">
        SELECT j.* FROM job j
        JOIN workflow_job wj ON j.id = wj.job_id
        WHERE wj.workflow_id = #{workflowId}
        ORDER BY wj.execution_order ASC
    </select>

    <select id="findTasksByJobId" resultMap="TaskResultMap">
        SELECT t.* FROM task t
        JOIN job_task jt ON t.id = jt.task_id
        WHERE jt.job_id = #{jobId}
        ORDER BY jt.execution_order ASC
    </select>
</mapper>