<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.icebang.domain.schedule.mapper.ScheduleMapper">
    <resultMap id="ScheduleResultMap" type="site.icebang.domain.schedule.model.Schedule">
        <id property="id" column="id"/>
        <result property="workflowId" column="workflow_id"/>
        <result property="cronExpression" column="cron_expression"/>
        <result property="parameters" column="parameters"/>
        <result property="isActive" column="is_active"/>
        <result property="lastRunStatus" column="last_run_status"/>
        <result property="lastRunAt" column="last_run_at" javaType="java.time.Instant" jdbcType="TIMESTAMP" typeHandler="site.icebang.global.config.mybatis.typehandler.InstantTypeHandler"/>
        <result property="createdAt" column="created_at" javaType="java.time.Instant" jdbcType="TIMESTAMP" typeHandler="site.icebang.global.config.mybatis.typehandler.InstantTypeHandler"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedAt" column="updated_at" javaType="java.time.Instant" jdbcType="TIMESTAMP" typeHandler="site.icebang.global.config.mybatis.typehandler.InstantTypeHandler"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="scheduleText" column="schedule_text"/>
    </resultMap>

    <select id="findAllActive" resultMap="ScheduleResultMap">
        SELECT * FROM schedule WHERE is_active = true
    </select>
</mapper>