<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.icebang.domain.execution.mapper.TaskRunMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task_run (job_run_id, task_id, status, started_at, created_at)
        VALUES (#{jobRunId}, #{taskId}, #{status}, #{startedAt}, #{createdAt})
    </insert>

    <update id="update">
        UPDATE task_run
        SET status = #{status},
            finished_at = #{finishedAt}
        WHERE id = #{id}
    </update>
</mapper>